/* è il foglio di stile che avevo fatto */
body {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  width: 700px;
  padding: 1em;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px 32px 32px 32px;
}

.avatar__img {
  border-radius: 50%;
  width: 64px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-picker {
  width: 50%;
}

.form-label {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.task-add {
  display: flex;
}

.task-buttons {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.task-buttons .btn {
  width: 10em;
  border: none;
}

.date-keeper {
  display: flex;
}

/* non riesco ad applicarlo solo alle task svolte
.done {
  text-decoration: line-through;
} */
